<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>	
<body>
	<% if(errors) { %>
		<ul>
			<% errors.forEach(function(error) { %>
				<li><%= error.msg %></li>
			<% }) %>
		</ul>
	<% } %>
	<% if(message) { %>
		<%= message %>
	<% } %>
	<form method="POST", action="/profile/<%= user._id %>/edit/new_pwd">
		Current password: <input type="password" name="old_pwd"> <br>
		New password: <input type="password" name="new_pwd"> <br>
		Confirm new password: <input type="password" name="cnew_pwd"> <br><br>
		<a href="/profile/<%= user._id %>/edit"><input type="button" name="back", value="Back"></a>
		<input type="submit" name="submit" value="Save">
	</form>
</body>
</html>