<!DOCTYPE html>
<html>
<head>
	<title>Trada | Register</title>
</head>
<body>
	<% if(errors) { %>
		<ul>
			<% errors.forEach(function(error) { %>
				<li><%= error.msg %></li>
			<% }) %>
		</ul>
	<% } %>
	<% if(signupMsgs.length > 0) { %>
		<ul>
			<li> <%= signupMsgs %> </li>
		</ul>
	<% } %>
	<form method="POST" action="/register">
		<label>User name</label>
		<input type="text" name="username">
		<br>
		<label>Email</label>
		<input type="text" name="email">
		<br>
		<label>Password</label>
		<input type="password" name="password">
		<br>
		<label>Confirm password</label>
		<input type="password" name="cpassword">
		<br><br>
		<a href="/"><input type="button" name="back" value="Back"></a>
		<input type="submit" value="Register">
	</form>
</body>
</html>
